.myNavBar {
    background-color: #99D699;
    min-height: 14vh;
  }
  
  .myNavBar a {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .myNavBar h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
