/* Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto; /* Alinea el dropdown a la derecha */
}

.dropdown-button {
  background-color: transparent; /* Fondo transparente para que coincida con la navbar */
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Espaciado */
  font-size: 16px; /* Tamaño de fuente */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor en forma de puntero */
  font-weight: bold; /* Negrita para el botón */
}

.dropdown-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo claro al pasar el ratón */
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #ffffff; /* Color de fondo que coincide con la navbar */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px; /* Ancho mínimo del menú */
}

.dropdown-menu a {
  color: black; /* Color del texto */
  padding: 12px 16px; /* Espaciado */
  text-decoration: none; /* Sin subrayado */
  display: block; /* Ocupa todo el ancho */
}

.dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Color de fondo al pasar el ratón */
}
