.home {
    background: url('../assets/aaa.jpg');
    background-size: cover;
    background-position: center;
    min-height: 76vh;
  }
   
  /* .headerContainer {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-start; 
    padding-left: 150px; 
    padding-top: 100px;
    flex-direction: column; 
    align-items: flex-start;
    
  }
  
  .headerContainer .content {
    text-align: left; 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;

  }
  */
  .headerContainer h2 {
    font-size: 3em;
    font-weight: bold;
  }
  
  .headerContainer p {
    font-style: bold;
    text-align-last: center;
    font-size: 2em;
    margin: 10px 0;
  }  
  
   .headerContainer button {
    color: white;
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 8px;

  }
  
  .headerContainer button:hover {
    background-color: #cc7a00;
    transition: 0.3s ease-in;
  } 
  
  